---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignOperands: 'false'
AlignTrailingComments: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: 'true'
ColumnLimit: '90'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentCaseLabels: 'true'
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
Standard: Cpp03
IndentWidth: 4
TabWidth: 4
UseTab: Always
...
